//scss里的变量是$开头，而less里的变量是@开头

$c3: #333;
$c6: #666;
$c9: #999;
$btnBg: #fe9428;
$white: #FFFFFF;

@function st($px) {
  @return $px/40 * 1rem;
}

@mixin wh($width, $height) {
  width: st($width);
  height: st($height);
}

// 上下渐变
@mixin linear-gradient($from, $to) {
  /* Fallback for sad browsers */
  background-color: $to;
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient($from, $to);
  /* Opera */
  background-image: -o-linear-gradient($from, $to);
  /* WebKit (Safari 4+, Chrome 1+) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
  /* WebKit (Chrome 11+) */
  background-image: -webkit-linear-gradient($from, $to);
  /* IE10 */
  background-image: -ms-linear-gradient($from, $to);
  /* W3C */
  background-image: linear-gradient($from, $to);
}

//左右渐变
@mixin linear-gradient-left($from, $to) {
  background: -webkit-linear-gradient(left, $from, $to);
  background: -o-linear-gradient(right, $from, $to);
  background: -moz-linear-gradient(right, $from, $to);
  background: linear-gradient(to right, $from, $to);
}
